{{/* Open Graph and Twitter Card meta */}}
{{ $siteTitle := .Site.Title }}
{{ $title := cond (isset .Params "meta_title") .Params.meta_title $siteTitle }}
{{ if and (not (isset .Params "meta_title")) .Title }}{{ $title = printf "%s | %s" .Title $siteTitle }}{{ end }}
{{ if not (strings.Contains (lower $title) "verana") }}
  {{ $title = printf "%s | Verana Trust Layer" $title }}
{{ end }}

{{ $baseDesc := "Verifiable trust for digital ecosystems" }}
{{ with .Site.Params.header.tagline }}{{ $baseDesc = . }}{{ end }}
{{ $desc := cond (isset .Params "meta_description") .Params.meta_description $baseDesc }}
{{ if and (not (isset .Params "meta_description")) (.Params.description) }}{{ $desc = .Params.description }}{{ end }}
{{ if not (strings.Contains (lower $desc) "verana") }}
  {{ $desc = printf "%s | Verana trust layer, verifiable credentials, decentralized identity." $desc }}
{{ end }}

{{ $type := "website" }}
{{ if .IsPage }}{{ $type = "article" }}{{ end }}

{{ $firstImg := "" }}
{{ with .Params.images }}{{ if ge (len .) 1 }}{{ $firstImg = index . 0 }}{{ end }}{{ end }}
{{ $img := or .Params.og_image (or $firstImg (or .Site.Params.seo.ogImage "/images/verana-og.jpg")) }}
{{ $imgURL := $img | absURL }}

<meta property="og:type" content="{{ $type }}">
<meta property="og:site_name" content="{{ $siteTitle }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ $imgURL }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $desc }}">
<meta name="twitter:image" content="{{ $imgURL }}">
